{% extends "reminders/_base.html" %}
{% block reminders %}
    <article>
        <h2>Reminders</h2>
        <h3>Welcome {{ user.profile.name }}!</h3>
        <p>
            <a href="{{ url('reminders:create') }}">
                <button class="button">Create reminder</button>
            </a>
        </p>
    </article>
    {% if user.own_reminders.count() %}
        <article>
            <h3>Your reminders:</h3>
            {% for reminder in user.own_reminders.all() %}
                <section
                        class="reminder reminder-own {%- if reminder.is_active %} reminder-active{% endif %} {%- if reminder.is_notified %} reminder-notified{% endif %} {%- if reminder.is_done %} reminder-done{% endif %}">
                    <h4><a href="{{ reminder.get_absolute_url() }}">{{ reminder.title }}</a></h4>
                    <p class="description">{{ reminder.notify_at_humanized }}</p>
                    <p class="description">{{ reminder.description }}</p>
                    <ul>
                        {% for part in reminder.participants.all() %}
                            <li>{{ part.profile.name }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </article>
    {% endif %}
    {% if user.participated_reminders.count() %}
        <article>
            <h3>Participated reminders:</h3>
            {% for reminder in user.participated_reminders.all() %}
                <section
                        class="reminder reminder-part {%- if reminder.is_active %} reminder-active{% endif %} {%- if reminder.is_notified %} reminder-notified{% endif %} {%- if reminder.is_done %} reminder-done{% endif %}">
                    <h4><a href="{{ reminder.get_absolute_url() }}">{{ reminder.title }}</a></h4>
                    <p class="description">{{ reminder.notify_at_humanized }}</p>
                    <p class="description">{{ reminder.description }}</p>
                    <ul>
                        {% for part in reminder.participants.all() %}
                            <li>{{ part.profile.name }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endfor %}
        </article>
    {% endif %}
{% endblock %}
