{% extends "reminders/_base.html" %}
{% block reminders %}
    <article>
        <b><a href="{{ url("reminders:reminder", args=(object.pk,)) }}"
              title="Reminder `{{ object.title }}`"><<<</a></b>
        <h2>Update reminder</h2>
        <div>
            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="grid">
                    {{ form.as_p() }}
                </div>
                <button class="button" type="submit">Update</button>
            </form>
        </div>
    </article>
{% endblock %}
