{% extends "reminders/_base.html" %}
{% block reminders %}
    <article>
        <h2>Update reminder</h2>
        <div class="profile-grid">
            <form method="post">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                <div class="profile-grid">
                    {{ form.as_p() }}
                </div>
                <button class="button" type="submit">Update</button>
            </form>
        </div>
    </article>
{% endblock %}
