@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600&display=swap');

:root {
    --hue: 208;
    --lig: 28.2%;
    --sat: 79.2%;
    --color-bg: hsl(var(--hue), var(--sat), 100%);
    --height-header: 120px;
    --color-text: hsl(var(--hue), var(--sat), 0);
    --size-text: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

a {
    color: hsl(calc(var(--hue)), 100%, 50%);
    text-decoration: underline;
}

a.active {
    text-decoration: overline;
}

a:hover {
    color: hsl(calc(var(--hue) - 30), 100%, 30%);
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: var(--size-text);
    margin: 0;
}

header {
    align-content: flex-start;
    background-color: hsl(var(--hue), var(--sat), var(--lig));
    border-bottom: 1px solid var(--color-bg);
    color: hsl(var(--hue), var(--sat), 95%);
    display: flex;
    flex-wrap: wrap;
    height: var(--height-header);
    opacity: 0.9;
    padding-left: 20px;
    position: fixed;
    top: 0;
    width: 100%;
}

header * {
    align-items: flex-start;
    display: inline-block;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

header .logo {
    border-right: 4px black solid;
    margin-right: 20px;
    max-width: 50px;
    vertical-align: center;
}

header .logo a {
    font-size: calc(var(--size-text) * 2);
    text-decoration: none;
    vertical-align: center;
}

nav {
    align-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    padding-right: 40px;
}

nav * li {
    padding-right: 10px;
    padding-top: 20px;
}

nav * a {
    color: hsl(calc(var(--hue) + 180), 100%, 50%);
    text-decoration: none;
}

nav * a.active {
    text-decoration: overline;
    transition-duration: 0.2s;
}

nav * a:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
}

main {
    margin-left: 20px;
    margin-top: calc(var(--height-header) + 30px);
    min-height: 600px;
    min-width: 300px;
}

article {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 40px;
    padding: 10px 20px;
}

article > * {
    flex-grow: 1;
}

article > p {
    padding: 10px 20px;
}

article > p, h2, h3, h4 {
    flex-basis: 100%;
}

section {
    margin-bottom: 20px;
    margin-right: 20px;
    max-width: 550px;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 10px;
    width: 500px;
}

footer {
    align-content: flex-start;
    align-items: flex-start;
    background-color: hsl(var(--hue), calc(var(--sat) * 0.9), var(--lig));
    border-top: 1px solid var(--color-bg);
    display: flex;
    flex-wrap: wrap;
    font-size: calc(var(--size-text) * 0.8);
    justify-content: space-between;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 100%;
}

footer > * {
    color: hsl(var(--hue), var(--sat), 90%);
    flex-grow: 1;
}

footer a {
    color: hsl(calc(var(--hue) + 180), 100%, 50%);
    text-decoration: none;
}

footer a.active {
    text-decoration: overline;
    transition-duration: 0.2s;
}

footer a:hover {
    text-decoration: underline;
    transition-duration: 0.2s;
}

.button {
    background-color: hsl(var(--hue), var(--sat), var(--lig));
    border: 1px solid hsl(calc(var(--hue) + 10), var(--sat), calc(var(--lig) * 1.2));
    color: hsl(var(--hue), var(--sat), calc(var(--lig) * 3));
    display: inline-block;
    font-size: 16px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: hsl(var(--hue), var(--sat), 90%);
    color: hsl(var(--hue), var(--sat), calc(var(--lig) * 0.5));
}

.profile-grid {
    display: grid;
    grid-column-gap: 1px;
    grid-row-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    margin-bottom: 30px;
    margin-top: 20px;
}

.profile-grid > p {
    font-style: normal;
    margin: 1px;
    padding: 4px;
}

.profile-grid label {
    display: block;
}

.profile-grid > p.header {
    font-style: oblique;
}

.profile-grid textarea, input, select[multiple] {
    box-shadow: hsl(calc(var(--hue) + 215), 100%, 50%);
    font-size: calc(var(--size-text) * 0.8);
    padding-left: 4px;
    width: 100%;
}

.profile-grid .errorlist {
    color: hsl(calc(var(--hue) + 150), 100%, 50%);
    grid-column: 1/3;
    grid-row: 1;
}
