@media only screen and (max-width: 960px) {
    nav * li {
        padding: 5px;
    }
}

@media only screen and (max-width: 800px) {
    :root {
        --height-header: 150px;
    }

    nav {
        align-content: flex-start;
        font-size: calc(var(--size-text) * 0.7);
    }

    header > h1 {
        flex-basis: 100%;
        font-size: calc(var(--size-text) * 0.8);
    }

}

/* --------- iPhone 11 Pro --------- */
@media only screen and (min-height: 812px) {

    :root {
        --height-header: 400px;
        --size-text: 40px;
    }

    header > h1 {
        flex-basis: 100%;
    }

    main {
        margin-left: 40px;
    }

    footer {
        padding-left: 40px;
    }
}
