{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block custom_styles %}
    <link href="{{ static('profile/css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block header %}Edit Profile{% endblock %}

{% block main %}

    <article>

        {% if user.is_anonymous %}

            <h2>You are not authorized to use this</h2>

        {% else %}

            <h2>Your new data</h2>

            <div class="profile-grid">

                <form method="post">
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                    {{ form.as_p() }}
                    <input type="submit" value="Update">
                </form>

            </div>

        {% endif %}

    </article>

{% endblock %}
